body {
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --white: white;
    --blue: #3B5998;
    --black: black;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

h6 {
    display: inline-block;
    position: relative;
}

.bg-light {
    background-color: var(--black) !important;
}

  
.bg-light-blue {
    background-color: var(--light-blue) !important;
  }

  /*Ajustar a la pantalla de cualquier dispositivo*/
  #sidebar-content {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  /*AmpliarSidebar*/
  #sidebar-content .menu {
    width: 18rem;
  }

h6::after,
h6::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    top: 0.6em;
}

label{
    color: black;
}

h5{ 
    margin-bottom: 0px;
}

h6::before {
    left: -160px;
}

h6::after {
    right: -160px;
}

a:hover {
    text-decoration: none;
}

a i{
    font-size: 22px;
    color:white;
}

a i2{
    font-size: 22px;
    color:black;
    white-space: pre-wrap;
}

section {
    padding: 120px 0px;
}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-dark{
    background-color: black;
}

.btn-ghost {
    position: relative;
    display: inline-block;
    border: 2px solid var(--black);
    /*Tamaño y color del borde*/
    padding: 20px 80px;
    /*alto y largo respectivamente*/
    color: var(--white);
    /*Color del texto*/
    font-weight: 700;
    /*Volumen del texto*/
    text-transform: uppercase;
    /*Garantiza que el texto siempre este en mayúscula*/
    text-decoration: none;
    background: var(--blue);
    /*Color de fondo*/
    transition: color 0.5s;
    margin-left: 30px;
}


/*Color principal de botones y texto del segundo y tercer boton*/

.btn-ghost.secundary {
    background-color: green;
}

.btn-ghost.tertiary {
    background-color: white;
    color: var(--black);
}


/*Efecto fantasma de los botones*/

.btn-ghost:hover {
    color: var(--black);
    background-color: var(--blue);
}

.btn-ghost.secundary:hover {
    color: var(--black);
    background-color: #1DB954;
}

.btn-ghost.tertiary:hover {
    color: var(--white);
    background-color: #616467;
}


/*Bordear los botones*/

.btn-ghost.round {
    border-radius: 30px;
}

.btn-ghostsecundary.round {
    border-radius: 30px;
}

.btn-ghosttertiary.round {
    border-radius: 30px;
}

.btn-light {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba (0, 0, 0, .05);
    min-height: 100px;
}

.nav-link {
    color: black;
}

#hero {
    background-image: url('hero.jpg');
    background-size: cover;
    padding: 90px;
    min-height: 700px;
    color: white;
}

.logoSnake {
    min-width: 160px;
    max-width: 180px;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}


/* Para los bordes de la imagen del portafolio*/

.portafolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}


/*Para crear el efecto de agrandar imagen del portafolio*/

.portafolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portafolio-container:hover img {
    -moz-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}


/* Para poner el texto encima de la imagen del portafolio*/

.portafolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portafolio-details h2 {
    margin-bottom: 0px;
}

.portafolio-details a h2,
.portafolio-details a p {
    color: black;
}

/* //////////////
   Members
//////////////*/

.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: white;
    bottom: 0;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

.member-details i {
    padding: 0 5px;
}

input {
    height: 48px;
    width: 400px;
}


/* //////////////
   Footer
//////////////*/

footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color);
}

footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

.bg-dark {
    background-color: black
    !important;
}


.logo-brand {
    max-width: 180px;
    min-width: 160px;
}



#footer{
    padding: 80px 0;
    text-align: center;
    color: white;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: white;
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
}