html, body{
    background-color: black;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

section{
    height: 100%;
    display: flex;
}

.centrar{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.logoSnake {
    min-width: 160px;
    max-width: 180px;
}
